// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$colors: (
    primary: #1075B9,
    secondary: #097CB8,
    third: #28BB28,
    fourth:#FFF147
);
